@import "../variables.scss";

.ingredients {
    display: flex;
    justify-content: space-between;
    background-color: $haki;
    border-radius: 30px;
    padding: 0 25px;
    margin-top: 15px;
  
    .input-div {
      position: relative;
      .input {
        appearance: none;
        position: absolute;
      }
  
      .checkbox-label {
        padding-left: 25px;
  
        &::before {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          border: 2px solid $black;
          border-radius: 5px;
          position: absolute;
          top: 5px;
          left: 0;
          z-index: 1;
        }
  
        &::after {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          border: 2px solid $black;
          border-radius: 5px;
          /* background: url(./img/checkbox.svg) no-repeat; */
          background-size: 16px 16px;
          opacity: 0;
          position: absolute;
          top: 5px;
          left: 0;
          z-index: 2;
          transition: opacity 0.1s linear;
        }
      }
  
      .input:checked + .checkbox-label:after {
        opacity: 1;
      }
    }
  }